body{
    background-color: navy;
}

h1{
    color: orange;
}

h3{
    color:orange;
}

p{
    color: orange;
}

.bar-labels{
    text-anchor: middle;
}

.axis{
    font-size: 14px;
    color: orange;
}